// sass variable examples
$red:                   #EA7882;

$font-family-base:      'Segoe UI', 'HelveticaNeue-Light', sans-serif;

$max-content-width:     1000px;

.example {
    h1 {
        color: $red;
    }
}

html, body {
  height: 100%;
}

body {
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Helvetica Neue;
}

h1 {
  font-size: 2em;
  color: #eee;
  display: inline-block;
}

a {
  color: white;
}

p {
  margin-top: 1em;
  text-align: center;
  color: #aaa;
}

#simon-container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 512px;
  height: 512px;
  zIndex: 99;
}

#simonMainImage {
  width: 100%;
  cursor: pointer;
  position: absolute;
  left: 0px;
  top: 0px;
  zIndex: 101;
}
