
body {
  background: #333;
  font-family: Helvetica Neue;
}

#simon-container {
  width: 512px;
  height: 512px;
  border-radius: 100%;
  position: relative;
  text-align: center;
  margin: auto;
  background-color: #888888;
  font-size: 24px;
}

footer {
  margin: 20px auto;
  padding: 10px;
  border-top: 1px solid #aaa;
  text-align: center;
  color: #aaa;
}

footer a {
  color: #afa;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 512px) {
  #simon-container {
    width : 350px;
    height : 350px;
    font-size: 16px;
  }
}
